

@model CodeClinic.ViewModel.DoctorsViewModel


<partial name="_breadcrumbs" model="Model.BreadCrumb" />

<!-- Team Section Two -->
<section class="team-section-two alternate alternate2">
    <div class="auto-container">
        <div class="row">
            @foreach (var item in Model.Doctors)
            {<div class="team-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a asp-controller="Doctors" asp-action="DoctorDetails" asp-route-id="@item.Id"><img src="~/Uploads/gallery/@item.Photo" alt=""></a></figure>
                            <ul class="social-links">
                                @foreach (var items in item.DoctorTeamLinks)
                                {
                                    <li><a href="#"><span class="fab @items.Icon"></span></a></li>

                                }


                            </ul>
                        </div>
                        <div class="info-box">
                            <h5 class="name"><a asp-controller="Doctors" asp-action="DoctorDetails">@item.FullName</a></h5>
                            <span class="designation">@item.Position</span>
                        </div>
                    </div>
                </div>

            }


        </div>

        <div class="sec-bottom-text">Tərəddüd etməyin, daha yaxşı yardım və xidmətlər üçün bizimlə əlaqə saxlayın. <a href="#">Bütün Dr. Komandasını araşdırın</a></div>
    </div>
</section>
<!--End Team Section -->
<partial name="_patientsay" model="Model.PatientSay" />

<section class="time-table-section">
    <div class="auto-container">
        <div class="table-outer">
            <!-- Doctors Time Table -->
            <table class="doctors-time-table">
                <thead>
                    <tr>
                        <th class="dark">Vaxt Cədvəli</th>
                        @foreach (var item in Model.AppointmentKind)
	{
                    <th>@item.Name</th>
	}
                        
                        
                    </tr>
                </thead>

                <tbody>
                    <!-- Table Row 08:00am -->
                    <tr>
                        <th>09:00</th>
                        <td>
                            @if (Model.Randevus.Time == "09:00")
                            {<strong>Dental Care</strong>
                                <p> 9:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                                            </td>
                        <td class="empty"></td>
                        
                    </tr>

                    <!-- Table Row 10:00am -->
                    <tr>
                        <th>10:00</th>
                        <td>
                            @if (Model.Randevus.Time == "10:00")
                            {<strong>Dental Care</strong>
                                <p> 10:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>
                    </tr>

                    <!-- Table Row 11:00am -->
                    <tr>
                        <th>11:00</th>
                        <td>
                            @if (Model.Randevus.Time == "11:00")
                            {<strong>Dental Care</strong>
                                <p> 11:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>

                    </tr>

                    <!-- Table Row 11:30am -->
                    <tr>
                        <th>12:00</th>
                        <td>
                            @if (Model.Randevus.Time == "12:00")
                            {<strong>Dental Care</strong>
                                <p> 12:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>
                    </tr>

                    <!-- Table Row 12:00am -->
                    <tr>
                        <th>13:00</th>
                        <td>
                            @if (Model.Randevus.Time == "13:00")
                            {<strong>Dental Care</strong>
                                <p> 13:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>

                    </tr>

                    <!-- Table Row 01:00pm -->
                    <tr>
                        <th>14:00</th>
                        <td>
                            @if (Model.Randevus.Time == "14:00")
                            {<strong>Dental Care</strong>
                                <p> 14:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>
                    </tr>

                    <!-- Table Row 02:00pm -->
                    <tr>
                        <th>15:00</th>
                        <td>
                            @if (Model.Randevus.Time == "15:00")
                            {<strong>Dental Care</strong>
                                <p> 15:00</p>
                                <div class="doctor-info">
                                    <h4 class="name">@Model.Randevus.PasientName</h4>
                                </div>
                            }

                        </td>
                        <td class="empty"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<partial name="_clients" model="Model.Clients" />