@model IEnumerable<CodeClinic.Models.DoctorOpeningHours>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="col-lg-6"><h1>Həkimlərin İş Saatları</h1></div>
            <div class="col-lg-3">
                <a asp-action="Create"><i class="fas fa-plus-square "></i></a>
            </div>
        </div>
    </div>
</div><table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
